@import './mixins/mixins.scss';

.sticky-footer {
  position: absolute;
  bottom: 0;
  margin-top: -100;
  width:100%;
}
html:not([data-scroll='0']) {
  .sticky-footer {
    position: fixed;
    bottom: 0;
    margin-top: auto;
  }
}

@mixin footer-borders-and-padding {
  $borderStyle: 2px solid black;
  border-top: $borderStyle;
  border-bottom: $borderStyle;
  padding: 1rem;
  
}

footer {
  @include audiowide;
  @include flex-space-between;
  @include footer-borders-and-padding;
  @include dark-grey-background;
  @include white-font;

  & svg {
    @include white-font;
    $margin:0.5rem;
    margin-right: $margin;
    margin-left: $margin;
    transition: scale ease-in-out 2s;
  }

  & svg:hover {
    color: #fff;
    transform: scale(1.2);
  }
}



footer>* {
  flex: 1 1 0px;
  text-align: center;
}
/* ! ---------------------------------------- */
/* !                TABLET                   */
/* ! ---------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .sticky-footer {
    // margin-top: -120;
  }
}


/* ! ---------------------------------------- */
/* !                MOBILE                   */
/* ! ---------------------------------------- */
@media only screen and (max-width: 768px) {


  footer {
    @include flex-column;
  }
}