footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  background-color: var(--clr-drk-grey);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-family: "Audiowide", Helvetica, sans-serif;
  color: #ddd;
}

footer>* {
  flex: 1 1 0px;
  text-align: center;
}

footer a:hover {
  transform: scale(1.5);
  transition: scale ease-in-out 1s;
}

footer svg {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: #ccc;
}

footer svg:hover {
  color:#fff;
  transform: scale(1.2);
}

/* ! ---------------------------------------- */
/* !                MOBILE                   */
/* ! ---------------------------------------- */


@media only screen and (max-width: 768px) {

  footer {
    flex-direction: column;
  }
  footer span { 
    line-height: 2;
  }
}